/*
 * CSS for the word-guess game
 */
body {
    background-color: #4aaaa5;
    color: #fff;
    background-color: #000;
}

.hangmanimage {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;

}

#displayedword {
    display: none;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border: solid 1px #fff;
    max-width: 100%;
}

.gallowimage {
    display: none;
    margin-bottom: 5px;
    max-width: 100%;
}