/*
 * CSS for the word-guess game
 */
body {
    background-color: #4aaaa5;
    color: #fff;
    background-color: #000;
}

.hangmanimage {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: none;
}

#displayedword {
    display: none;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
    max-width: none;
}

.gallowimage {
    display: none;
    margin-bottom: 10px;
    max-width: none;
}